bin/Debug/netcoreapp3.1/aspnetcore-api-sample.dll
bin/Debug/netcoreapp3.1/aspnetcore-api-sample.pdb
obj/Debug/netcoreapp3.1/aspnetcore-api-sample.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/aspnetcore-api-sample.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/aspnetcore-api-sample.dll
obj/Debug/netcoreapp3.1/aspnetcore-api-sample.pdb
